[submodule "vendor/github.com/alecthomas/kingpin"]
	path = vendor/github.com/alecthomas/kingpin
	url = https://github.com/alecthomas/kingpin.git
[submodule "vendor/github.com/alecthomas/template"]
	path = vendor/github.com/alecthomas/template
	url = https://github.com/alecthomas/template.git
[submodule "vendor/github.com/alecthomas/units"]
	path = vendor/github.com/alecthomas/units
	url = https://github.com/alecthomas/units.git
[submodule "vendor/github.com/tokenshift/env"]
	path = vendor/github.com/tokenshift/env
	url = https://github.com/tokenshift/env.git
[submodule "vendor/github.com/boltdb/bolt"]
	path = vendor/github.com/boltdb/bolt
	url = https://github.com/boltdb/bolt
